@model NewsMgr.ViewModel.NewsItemModel

@{
    ViewBag.Title = "Index";
}


<div class="col-lg-12 col-sm-12 col-md-12">

    @foreach (var item in ViewBag.newsItems)
        {
            <p>@item.Title</p>
            <p><a href="@item.Url">@item.Url</a></p>
            <p>@item.Description</p>
            <p>@item.PublishDate</p>
        }
    }
</div>