@model NewsModel.Model.NewsItem

@{
    ViewBag.Title = "RssFeed";
}

<h2>RssFeed</h2>

<div>
    <h4>NewsItem</h4>
    <hr />
    <table>
        <tr>
            <th>
                <h3>Facebook Updates</h3>
            </th>
        </tr>
        @foreach (var item in ViewBag.FBFeed)
        { 
           
            <tr>
                <td>
                    <b>@item.Title</b><a href="@item.Link" target="_blank"> more </a> on @Convert.ToDateTime(item.PubDate)
                    <br />
                    @Html.Raw(item.Description)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
